# SPDX-License-Identifier: MIT
# Copyright (c) 2020 Ehsan Kia
# SPDX-License-Identifier: LGPL-3.0-or-later
# Copyright (c) 2024 Nachtalb
# This file contains both MIT and LGPL-3.0-or-later licensed code.
DISCORD_TOKEN = "YOUR_TOKEN_HERE"
SALT = "SALT_HERE"
